Repository HwangJunha/tdd, pull requests merged in 2024-09, with the labels that each got.

#12 [1-feature] application.yml email, salt 기본값 설정 설정 하지 않으면 기동 되지 않으현상 해결
  src/main/resources/config/application-auth.yml
  src/main/resources/config/application-email.yml
  src/test/resources/config/application-auth.yml
  src/test/resources/config/application-email.yml
Labels: D-5

#13 [1-featrue] auth-property binding 에러로 인하여 생성자 주입에서 Setter 주입 방식으로 변경
  src/main/java/com/around/tdd/property/AuthProperty.java
Labels: D-5, java

#14 [#9] 카테고리 등록 기능 구현 및 테스트 코드 작성
  src/main/java/com/around/tdd/controller/CategoryController.java
  src/main/java/com/around/tdd/controller/response/ApiResponse.java
  src/main/java/com/around/tdd/controller/response/ErrorResponse.java
  src/main/java/com/around/tdd/exception/DuplicateCategoryException.java
  src/main/java/com/around/tdd/repository/CategoryRepository.java
  src/main/java/com/around/tdd/service/CategoryService.java
  src/main/java/com/around/tdd/vo/Category.java
  src/main/java/com/around/tdd/vo/CategorySaveRequestDto.java
  src/test/java/com/around/tdd/controller/CategoryControllerTest.java
  src/test/java/com/around/tdd/repository/CategoryRepositoryTest.java
  src/test/java/com/around/tdd/service/CategoryServiceTest.java
Labels: D-4, java, Category, chatGPT

#17 [9-refactor] ApiResponse, ErrorResponse 코드 리뷰 반영 및 코드 개선
  src/main/java/com/around/tdd/controller/CategoryController.java
  src/main/java/com/around/tdd/controller/response/ApiResponse.java
  src/main/java/com/around/tdd/controller/response/ErrorResponse.java
  src/main/java/com/around/tdd/service/CategoryService.java
  src/main/java/com/around/tdd/vo/CategorySaveRequest.java
  src/test/java/com/around/tdd/controller/CategoryControllerTest.java
  src/test/java/com/around/tdd/service/CategoryServiceTest.java
Labels: D-5, java, Category, config

#18 [config] GlobalExceptionHandler 생성
  src/main/java/com/around/tdd/controller/CategoryController.java
  src/main/java/com/around/tdd/exception/GlobalExceptionHandler.java
  src/test/java/com/around/tdd/controller/CategoryControllerTest.java
Labels: D-5, java, Setting

#19 회원 등록 구현
  src/main/java/com/around/tdd/controller/AuthController.java
  src/main/java/com/around/tdd/controller/MemberController.java
  src/main/java/com/around/tdd/controller/response/MemberResponse.java
  src/main/java/com/around/tdd/repository/MemberRepository.java
  src/main/java/com/around/tdd/service/MemberService.java
  src/main/java/com/around/tdd/vo/Member.java
  src/main/java/com/around/tdd/vo/MemberDeliveryInfo.java
  src/main/java/com/around/tdd/vo/MemberInfo.java
  src/main/java/com/around/tdd/vo/ValidationResult.java
  src/main/java/com/around/tdd/vo/request/AuthRequest.java
  src/main/java/com/around/tdd/vo/request/MemberDeliveryInfoRequest.java
  src/main/java/com/around/tdd/vo/request/MemberRequest.java
  src/main/resources/logback.xml
  src/test/java/com/around/tdd/controller/AuthControllerTest.java
  src/test/java/com/around/tdd/controller/MemberControllerTest.java
  src/test/java/com/around/tdd/repository/MemberRepositoryTest.java
  src/test/java/com/around/tdd/service/MemberServiceTest.java
Labels: Auth, D-5, java, chatGPT

#21 [15-feature] 카테고리 조회 기능 개발 및 테스트 코드 작성
  src/main/java/com/around/tdd/controller/CategoryController.java
  src/main/java/com/around/tdd/exception/GlobalExceptionHandler.java
  src/main/java/com/around/tdd/repository/CategoryRepository.java
  src/main/java/com/around/tdd/repository/CategoryRepositoryCustom.java
  src/main/java/com/around/tdd/repository/CategoryRepositoryCustomImpl.java
  src/main/java/com/around/tdd/service/CategoryService.java
  src/main/java/com/around/tdd/vo/Category.java
  src/main/java/com/around/tdd/vo/CategoryResponse.java
  src/main/java/com/around/tdd/vo/CategorySearchRequest.java
  src/test/java/com/around/tdd/controller/CategoryControllerTest.java
  src/test/java/com/around/tdd/repository/CategoryRepositoryTest.java
  src/test/java/com/around/tdd/service/CategoryServiceTest.java
Labels: D-4, java, Category

#25 [22-feature] 카테고리 삭제 기능 개발 및 테스트 코드 작성
  src/main/java/com/around/tdd/controller/CategoryController.java
  src/main/java/com/around/tdd/exception/GlobalExceptionHandler.java
  src/main/java/com/around/tdd/service/CategoryService.java
  src/main/java/com/around/tdd/vo/Category.java
  src/test/java/com/around/tdd/controller/CategoryControllerTest.java
  src/test/java/com/around/tdd/repository/CategoryRepositoryTest.java
  src/test/java/com/around/tdd/service/CategoryServiceTest.java
  src/test/java/com/around/tdd/vo/CategoryTest.java
Labels: D-4, java, Category, chatGPT

#27 4 feature - 장바구니 저장 기능 구현 및 테스트 코드 작성
  src/main/java/com/around/tdd/controller/CartController.java
  src/main/java/com/around/tdd/repository/CartRepository.java
  src/main/java/com/around/tdd/service/CartService.java
  src/main/java/com/around/tdd/vo/Cart.java
  src/main/java/com/around/tdd/vo/CartItemRequest.java
  src/test/java/com/around/tdd/controller/CartControllerTest.java
  src/test/java/com/around/tdd/repository/CartRepositoryTest.java
  src/test/java/com/around/tdd/service/CartServiceTest.java
Labels: D-5, java, chatGPT, Cart

#28 [#23] 사용자 권한 매칭 등록 및 권한 입력
  src/main/java/com/around/tdd/controller/AuthController.java
  src/main/java/com/around/tdd/repository/MemberAuthDictionaryRepository.java
  src/main/java/com/around/tdd/repository/MemberAuthRepository.java
  src/main/java/com/around/tdd/service/AuthService.java
  src/main/java/com/around/tdd/util/HttpUtil.java
  src/main/java/com/around/tdd/vo/Member.java
  src/main/java/com/around/tdd/vo/MemberAuth.java
  src/main/java/com/around/tdd/vo/MemberAuthDictionary.java
  src/main/java/com/around/tdd/vo/MemberAuthId.java
  src/main/java/com/around/tdd/vo/request/MemberAuthDictionaryRequest.java
  src/main/java/com/around/tdd/vo/request/MemberAuthRequest.java
  src/main/java/com/around/tdd/vo/request/MemberRequest.java
  src/test/java/com/around/tdd/controller/AuthControllerTest.java
  src/test/java/com/around/tdd/repository/MemberAuthDictionaryRepositoryTest.java
  src/test/java/com/around/tdd/repository/MemberRepositoryTest.java
  src/test/java/com/around/tdd/service/AuthServiceTest.java
Labels: Auth, D-5, java, chatGPT

#30 [#23] 사용자 권한 조회
  src/main/java/com/around/tdd/config/CacheConfig.java
  src/main/java/com/around/tdd/controller/AuthController.java
  src/main/java/com/around/tdd/service/AuthService.java
  src/test/java/com/around/tdd/controller/AuthControllerTest.java
  src/test/java/com/around/tdd/service/AuthServiceTest.java
Labels: Auth, D-5, java, chatGPT

#32 [31-feature] 회원 권한 삭제 기능 완료
  src/main/java/com/around/tdd/controller/AuthController.java
  src/main/java/com/around/tdd/service/AuthService.java
  src/main/java/com/around/tdd/vo/MemberAuth.java
  src/test/java/com/around/tdd/controller/AuthControllerTest.java
  src/test/java/com/around/tdd/service/AuthServiceTest.java
Labels: Auth, D-5, java, chatGPT

#24 게시판 저장 기능 구현 및 테스트 코드 작성
  src/main/java/com/around/tdd/controller/BoardController.java
  src/main/java/com/around/tdd/exception/BoardSaveException.java
  src/main/java/com/around/tdd/repository/BoardContentRepository.java
  src/main/java/com/around/tdd/repository/BoardImageRepository.java
  src/main/java/com/around/tdd/repository/BoardRepository.java
  src/main/java/com/around/tdd/service/BoardService.java
  src/main/java/com/around/tdd/service/FileStorageService.java
  src/main/java/com/around/tdd/vo/Board.java
  src/main/java/com/around/tdd/vo/BoardContent.java
  src/main/java/com/around/tdd/vo/BoardDTO.java
  src/main/java/com/around/tdd/vo/BoardImage.java
  src/main/java/com/around/tdd/vo/Comment.java
  src/test/java/com/around/tdd/controller/BoardControllerTest.java
  src/test/java/com/around/tdd/repository/BoardContentRepositoryTest.java
  src/test/java/com/around/tdd/repository/BoardImageRepositoryTest.java
  src/test/java/com/around/tdd/repository/BoardRepositoryTest.java
  src/test/java/com/around/tdd/service/BoardServiceTest.java
Labels: D-0, java, Board

#35 [33-feature] 이메일 인증으로 회원 아이디 확인
  src/main/java/com/around/tdd/controller/AuthController.java
  src/main/java/com/around/tdd/service/AuthService.java
  src/main/java/com/around/tdd/vo/AuthType.java
  src/main/java/com/around/tdd/vo/request/AuthRequest.java
  src/test/java/com/around/tdd/controller/AuthControllerTest.java
Labels: Auth, D-5, java, chatGPT

#37 [36-feature] new Member로 생성한 값들 builder로 변경 및 회원 비밀번호 수정 기능 개발
  src/main/java/com/around/tdd/controller/AuthController.java
  src/main/java/com/around/tdd/service/BoardService.java
  src/main/java/com/around/tdd/service/MemberService.java
  src/main/java/com/around/tdd/vo/AuthType.java
  src/main/java/com/around/tdd/vo/Member.java
  src/test/java/com/around/tdd/controller/AuthControllerTest.java
  src/test/java/com/around/tdd/repository/BoardContentRepositoryTest.java
  src/test/java/com/around/tdd/repository/BoardImageRepositoryTest.java
  src/test/java/com/around/tdd/repository/BoardRepositoryTest.java
  src/test/java/com/around/tdd/service/BoardServiceTest.java
Labels: Auth, D-5, java, chatGPT

#42 34 feature
  src/main/java/com/around/tdd/controller/BoardController.java
  src/main/java/com/around/tdd/exception/BoardNotFoundException.java
  src/main/java/com/around/tdd/service/BoardService.java
  src/main/java/com/around/tdd/vo/Board.java
  src/main/java/com/around/tdd/vo/request/BoardRequest.java
  src/main/java/com/around/tdd/vo/response/BoardDetailResponse.java
  src/main/java/com/around/tdd/vo/response/BoardListResponse.java
  src/test/java/com/around/tdd/controller/BoardControllerTest.java
  src/test/java/com/around/tdd/repository/BoardContentRepositoryTest.java
  src/test/java/com/around/tdd/repository/BoardImageRepositoryTest.java
  src/test/java/com/around/tdd/repository/BoardRepositoryTest.java
  src/test/java/com/around/tdd/service/BoardServiceTest.java
Labels: D-5, java, Board, chatGPT

#43 게시판 수정 기능 추가
  src/main/java/com/around/tdd/controller/BoardController.java
  src/main/java/com/around/tdd/service/BoardService.java
  src/test/java/com/around/tdd/controller/BoardControllerTest.java
  src/test/java/com/around/tdd/service/BoardServiceTest.java
Labels: D-5, java, Board, chatGPT
